name: Python package

on: [push, pull_request]
#  push:
#    - master
#    - release/*
#  pull_request:
#    branches:
#      - feature/*

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.5, 3.6, 3.7]

    steps:
    - uses: actions/checkout@master
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v1.0.1
      with:
        python_version: ${{ matrix.python-version }}
    - name: Install packages
      run: |
        apt-get --yes --verbose-versions install gcc
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        ./setup.py develop
        pip install -r requirements.txt
    - name: Test with pytest
      run: |
        pip install pytest
        pytest
